@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "dana";
    src: url("/fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "dana Medium";
    src: url("/fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "dana DemiBold";
    src: url("/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "moradda Light";
    src: url("/fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "moradda Meduim";
    src: url("/fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "moradda Bold";
    src: url("/fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
    font-display: swap;
  }

}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities{
  .square{
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    margin: auto;
    background: #eb8307;
    box-shadow: 0px 0px 13px 0px rgba(235, 131, 7, .4);
    transform: rotate(45deg);
    border-radius: 10px;
  }
}